
{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
 
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars" : "off",
    "semi": 2,
    "no-console": "off",
    "react/jsx-no-bind": ["error", {
      "allowArrowFunctions": true,
      "allowBind": false,
      "ignoreRefs": true
    }],
    "react/no-did-update-set-state": "error",
    "react/no-unknown-property": "error",
    "react/no-unused-prop-types": "error",
    "react/prop-types": 0,
    "react/react-in-jsx-scope": "error"
  },
  "globals": {
    "ReactDOM": true,
    "React": true
  }

}